doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js")
    script(src='/javascript/layout.js')
  body
    h1= title
    div#totalMooney
      h2(style="float:left; margin-right:50px") Your Account:
      h2(style="float:left; color: red")= totalMoney
    div.clear
    div#nav
      a(href="/" class='left') Expenditure
      a(href="/change/earning" class='left') Earning
      a(href="/change/detail" class='left') Detail
    div.clear
    block content
