extends layout

block content

    div#form
        div#leftform
            form(method='POST' action='')
                div.form-group
                    label(for='title') Expend:
                    input#expend.form-control(type='text', placeholder='Money you spend' name='expenditure' required='true')
                div.form-group
                    label(for='summary') Choose Tag:
                    for tag in expenditure_list
                        p #{tag.expenditureTag}
                            input#expendTag.form-control(type='checkbox' name='expenditureTag' value=tag.expenditureTag)
                div.form-group
                    label(for='isbn') Purpose:
                    input#expendPurpose.form-control(type='text', placeholder='Edit your purpose' name='expPurpose' required='true')
                a(href='/expend')
                    button.btn.btn-primary(type='submit') Submit
    div.clear