extends layout

block content

    div#form
        div#leftform
            form(method='POST' action='/action/postExp')
                div.form-group
                    label Expend:
                    input#expenditure.form-control(type='text', placeholder='Money you spend' name='expenditure' required='true')
                div.form-group
                    p Choose Tag:
                    for tag in expenditure_list
                        div#leftchoose
                            p #{tag.Tag}
                                input#expendTag.form-control(type='checkbox' name='expenditureTag' value=tag.Tag)
                div.form-group
                    label Purpose:
                    input#expendPurpose.form-control(type='text', placeholder='Edit your purpose' name='expPurpose' required='true')
                button#summit(type='submit') Submit
    div.clear