extends layout

block content

    div#form
        div#rightform
            form(method='POST' action='/action/postEar')
                div.form-group
                    label Expend:
                    input#earning.form-control(type='text', placeholder='Money your earning' name='earning' required='true')
                div.form-group
                    p Choose Tag:
                    for tag in earning_list
                        div#leftchoose
                            p #{tag.Tag}
                                input#earningTag.form-control(type='checkbox', placeholder='Summary' name='earningTag' value=tag.Tag)
                div.form-group
                    label Purpose:
                    input#earningPurpose.form-control(type='text', placeholder='Edit type of earning' name='earPurpose' required='true')
                button#summit(type='submit') Submit
    div.clear