body {
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftform{
  float: left;
  margin-right: 50px;
}

#leftchoose{
  float: left;
  margin-right: 50px;
  margin-top: -10px;
}

#rightform{
  float: left;
}

#form{
  margin-top: 20px;
}

a{
  text-decoration: none;
  margin: 10px 50px 10px 0px;
  color: black;
  font-size: 20px;
}
a:hover{
  color: silver;
}

.clear{
  clear: both;
}

#expenditure{
  color: green;
}

#expenditureTag{
  color: teal;
}

#earning{
  color: red;
}

#earningTag{
  color: brown;
}

#summit{
  margin-top: 15px;
}